.posts-page-wrapper {
  .container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: rgb(245, 245, 245);
    min-height: 100vh;
    .left,
    .right,
    .center {
      box-sizing: border-box;
      padding: 20px 35px;
    }
  
    .center {
      display: flex;
      flex-direction: column;
      gap: 12px;
      background-color: rgb(235, 235, 235);
      margin-top: 25px;
      border-radius: 12px;
    }
    .right {
      display: flex;
      flex-direction: column;
      .main-button-wrapper {
        align-self: flex-end;
      }
    }
  }
  
}
