.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.home-description {
  font-size: 1.5rem;
  line-height: 1.5;
}
