@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.loginWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.loginWrapper label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.loginWrapper label input {
  margin-top: 10px;
  padding: 8px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.loginWrapper label input:focus {
  outline: none;
  border: 2px solid #4caf50;
}

.loginWrapper button {
  background-color: #0077ff;
  color: white;
  border: none;
  padding: 12px 20px;
  margin-top: 25px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.loginWrapper button:hover {
  background-color: #005aff;
}

.post-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f0f0f0;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  border: 1px solid gray;
  border-radius: 8px;
}

.post-wrapper .post {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 8px 12px;
}

.post-wrapper .post-author {
  width: 100px;
  height: 30px;
  margin-bottom: 5px;
}

.post-wrapper .post-title {
  margin-bottom: 5px;
}

.post-wrapper .post-content {
  margin-bottom: 5px;
}

.post-wrapper .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  gap: 10px;
}

.post-wrapper .controls div {
  padding: 6px 10px;
  border: 1px solid gray;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

.post-wrapper .post-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.main-button-wrapper {
  background-color: #0077ff;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1rem;
}

.main-button-wrapper:hover {
  -webkit-box-shadow: 0 0 2px blue;
          box-shadow: 0 0 2px blue;
}

.create-post-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  background-color: #f0f0f0;
  padding: 15px 25px;
  border: 1px solid gray;
  border-radius: 10px;
}

.create-post-wrapper .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
}

.create-post-wrapper .input-field input {
  padding: 6px 12px;
}

.create-post-wrapper .input-field textarea {
  padding: 6px 12px;
}

.posts-page-wrapper .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  background-color: whitesmoke;
  min-height: 100vh;
}

.posts-page-wrapper .container .left,
.posts-page-wrapper .container .right,
.posts-page-wrapper .container .center {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 35px;
}

.posts-page-wrapper .container .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  background-color: #ebebeb;
  margin-top: 25px;
  border-radius: 12px;
}

.posts-page-wrapper .container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts-page-wrapper .container .right .main-button-wrapper {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.navbar-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  background-color: white;
}

.navbar-wrapper .main-button-wrapper {
  margin-left: auto;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-wrapper .logo {
  font-size: 12px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #2d2da5;
}

.navbar-wrapper input {
  padding: 5px;
}

.navbar-wrapper form {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: auto;
}

.navbar-wrapper .search-results {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 0;
}

.navbar-wrapper .search-results:hover {
  background-color: #e5e5e5;
}

.register-wrapper {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-wrapper h1 {
  text-align: center;
  margin-bottom: 20px;
}

.register-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-wrapper form label {
  margin-bottom: 10px;
}

.register-wrapper form label input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.register-wrapper form label input:focus {
  outline: none;
  border-color: #0077ff;
}

.register-wrapper form button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.register-wrapper form button[type="submit"]:hover {
  background-color: #005aff;
}

.user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 5px;
}

.user-wrapper .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 110px);
}

.comments-wrapper .comments {
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
}

.comments-wrapper p {
  margin-left: 50px;
}

.new-comment-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 100px;
      grid-template-columns: auto 100px;
  text-align: center;
  gap: 10px;
}

.new-comment-wrapper input {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 8px 12px;
}

.postShare-wrapper {
  width: 50%;
  margin: auto;
  padding-top: 25px;
}

body {
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=styles.css.map */